<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>fragmentos</title>
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<!-- cabeçalho -->
	 <nav th:fragment="cabecalho">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Lista de eventos</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/listarEventos">Eventos</a></li>
      </ul>
    </div>
  </nav>
  <div class=" alert alert-sucess alert-dismissible" role="alert" th:if="${not #strings.isEmpty(mensagem)}" th:fragment="validacao">
  	<span th:text="${mensagem}"></span>
  </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>