<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Evento</title>
	 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	 <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet"/>
	 
</head>
<body>
	<nav th:replace="fragmentos/fragmentos :: cabecalho"></nav>
	
	<div class="container"> 
		<h1>Detalhes Evento</h1>
			<div class="row">
				<p>Nome: <spam th:text="${evento.nome}"></spam></p>
				<p>Local: <spam th:text="${evento.local}"></spam></p>
				<p>Data: <spam th:text="${evento.data}"></spam></p>
				<p>Horario: <spam th:text="${evento.horario}"></spam></p>
			</div>
		<h3><a class="btn waves-effect waves-teal" th:href="@{/convidado/adicionar/{id}(id=${evento.id})}"><i class="material-icons left">add</i>Adiconar convidado</a></h3>
	</div>
	
	<div class="container" >
		<h5>Lista de convidados:</h5>
		<table>
			<thead>
				<tr>
					<th>Nome convidado</th>
					<th>RG</th>
					<th>Deletar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="convidado : ${convidados}">
					<td><spam th:text="${convidado.nomeConvidado}"></spam></td>
					<td><spam th:text="${convidado.rg}"></spam></td>
					<td><a class="waves-effect waves-light btn-small" th:href="@{/convidado/deletar/{id}(id=${convidado.id})}"><i class="material-icons left">delete
					</i></a></td>
				</tr>
				
			</tbody>
		</table>
	</div>
	 <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>